#nav-bar {
    --nav-bar-width: 20px;

    width: var(--nav-bar-width);
    padding: 5px;
    gap: 5px;
    display: flex;
    flex-direction: column;
    background-color: var(--primary-800);
}

.nav-item {
    width: var(--nav-bar-width);
    height: var(--nav-bar-width);
    display: grid;
    place-content: center;
    color: var(--white-530);
    background-color: var(--primary-560);
    border-radius: 33%;
    cursor: pointer;
    transition: 200ms;
}

.nav-item.warns {
    color: var(--yellow-260);
}

.nav-item.errors {
    color: var(--red-400);
}

.nav-item:hover {
    background-color: var(--primary-500);
}

.nav-item[data-notifications-count]::before {
    content: attr(data-notifications-count);
    position: absolute;
    right: -3px;
    bottom: -25%;
    min-width: 7px;
    height: 10px;
    padding-inline: 1px;
    border-radius: 3px;
    font-size: .6rem;
    font-weight: 500;
    text-align: center;
    color: white;
    background-color: red;
    pointer-events: none;
}

.nav-item[data-tooltip]:hover::after {
    bottom: 0%;
    margin-bottom: 0;
    left: 100%;
    margin-left: 6px;
}