#app {
  --panels-width: 200px;
  --middle-menu-width: 20px;

  width: fit-content;
  display: flex;
}

main {
  display: flex;
}

/* Info Panel */

#info-panel-wrapper {
  position: relative;
  width: var(--panels-width);
}

#info-panel {
  position: absolute;
  right: 0;
  width: var(--panels-width);
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 5px;
  background-color: var(--primary-700);
}

#info-list {
  --items-color-bg: var(--primary-560);
  --items-color-text: white;
  flex-grow: 1;
  overflow-y: overlay;
  overflow-x: hidden;
}

#info-list.warns {
  --items-color-bg: var(--yellow-700);
}

#info-list.errors {
  --items-color-bg: var(--red-700);
}

.info-list-item {
  color: var(--items-color-text);
  background-color: var(--items-color-bg);
  word-break: break-all; /* Fallback */
  line-break: anywhere;
}

.info-list-item.critical {
  --items-color-bg: var(--red-600);
}

.info-list-item .time {
  font-size: .5rem;
  margin-right: .3rem;
}

/* Middle Menu */

#middle-menu {
  width: var(--middle-menu-width);
  padding: 5px;
  gap: 5px;
  display: flex;
  flex-direction: column;
  background-color: var(--primary-800);
}

.info-button {
  width: var(--middle-menu-width);
  height: var(--middle-menu-width);
  display: grid;
  place-content: center;
  color: var(--white-530);
  background-color: var(--primary-560);
  border-radius: 33%;
  cursor: pointer;
  transition: 200ms;
}

.info-button.warns {
  color: var(--yellow-260);
}

.info-button.errors {
  color: var(--red-400);
}

#middle-menu>div:hover {
  background-color: var(--primary-500);
}

#middle-menu>div[data-notifications-count]::before {
  content: attr(data-notifications-count);
  position: absolute;
  right: -3px;
  bottom: -25%;
  min-width: 7px;
  /* width: 10px; */
  height: 10px;
  padding-inline: 1px;
  border-radius: 3px;
  font-size: .6rem;
  font-weight: 500;
  text-align: center;
  color: white;
  background-color: red;
  pointer-events: none;
}

/* Main Menu */

#main-menu {
  --items-padding-inline: 4px;
  width: var(--panels-width);
  background-color: var(--primary-700);
  transition: width 200ms;
}

#main-menu.wide {
  --panels-width: 300px;
}

/* Items & Interactables */

.item-wrapper {
  min-height: 1.5rem;
  padding: 2px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--interactive-normal);
}

.item-wrapper.inner-0 {
  background-color: var(--primary-600);
}

.item-wrapper.inner-1,
.item-wrapper.inner-2 {
  font-weight: 500;
}

.item-wrapper.inner-1 {
  font-size: .9rem;
  background-color: var(--primary-560);
}

.item-wrapper.inner-2 {
  font-size: .8rem;
  background-color: var(--primary-530);
}

.item-wrapper> :only-child {
  width: 100%;
}

.item-wrapper> :first-child:not(button) {
  padding-left: var(--items-padding-inline);
}

.item-wrapper>button {
  padding: 4px var(--items-padding-inline);
}

.item-wrapper input[type=range] {
  width: 50%;
}

button,
select,
input {
  color: var(--interactive-normal);
}

button,
select,
input[type=checkbox],
label {
  cursor: pointer;
}

button,
input[type=text] {
  transition: 100ms;
  border-radius: 4px;
}

select {
  background-color: var(--background-primary);
  direction: rtl;
}

.inner-1 select {
  background-color: var(--primary-560);
}

button {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
}

button:has(svg:only-child) {
  width: 24px;
  height: 24px;
}

button>svg:only-child {
  max-width: 16px;
  max-height: 16px;
}

button>svg {
  transition: 100ms;
}

button>svg+span {
  flex-grow: 1;
  margin-left: 6px;
  text-align: left;
}

button:enabled:hover {
  color: var(--interactive-hover);
  background-color: var(--background-modifier-hover);
}

button:enabled:active {
  color: var(--interactive-active);
  background-color: var(--background-modifier-active);
}

button:disabled {
  color: var(--interactive-muted);
  cursor: not-allowed;
}

button.toggle>svg:last-child {
  transform: rotateZ(90deg);
}

label {
  margin-left: 3px;
}

.inner-1 input[type=text] {
  background-color: var(--primary-530);
  padding-left: 3px;
}

.inner-1 input[type=text]:is(:hover, :focus) {
  background-color: var(--primary-500);
}

.button-green:hover {
  color: var(--green-300) !important;
}

.button-red:hover {
  color: var(--red-400) !important;
}

input[type=range] {
  -webkit-appearance: none;
  appearance: none;
}

input[type=range]::-webkit-slider-runnable-track {
  --fillColor: var(--brand-500);
  --bgColor: var(--primary-400);
  width: 300px;
  height: 5px;
  background: linear-gradient(to right, var(--fillColor) 0%, var(--fillColor) var(--value), var(--bgColor) var(--value), var(--bgColor) 100%);
  border: none;
  border-radius: 3px;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 10px;
  height: 18px;
  top: 50%;
  margin-top: -6px;
  border-radius: 3px;
  background-color: var(--white-500);
  border: 1px solid var(--primary-200);
  -webkit-box-shadow: 0 3px 1px 0 hsl(var(--black-500-hsl)/.05), 0 2px 2px 0 hsl(var(--black-500-hsl)/.1), 0 3px 3px 0 hsl(var(--black-500-hsl)/.05);
  box-shadow: 0 3px 1px 0 hsl(var(--black-500-hsl)/.05), 0 2px 2px 0 hsl(var(--black-500-hsl)/.1), 0 3px 3px 0 hsl(var(--black-500-hsl)/.05);
  cursor: ew-resize;
}

input[type=range]:focus {
  outline: none;
}

.kakera-cfg>span {
  font-size: .8rem;
}

.kakera-cfg button:has(.emoji) {
  background-color: var(--background-modifier-hover);
}

.kakera-cfg button.toRemove:hover {
  background-color: var(--red-400);
}

.kakera-cfg button.toClaim:hover {
  background-color: var(--green-400);
}

/* Generic structures */

header {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 5px;
  background-color: var(--primary-630);
  color: var(--header-primary);
  font-weight: 600;
  pointer-events: none;
}

header img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

header span {
  flex-grow: 1;
  text-align: center;
}

.flex-inline-wrapper {
  display: flex;
  align-items: center;
}

.list {
  padding: 0px var(--items-padding-inline) var(--items-padding-inline);
  display: flex;
  flex-direction: column;
  gap: 5px;
  font-size: .8em;
}

.list>div:has(label) {
  display: flex;
  align-items: center;
}

/* Tooltip */

[data-tooltip] {
  position: relative;
}

[data-tooltip]:hover::after {
  content: attr(data-tooltip);
  position: absolute;
  bottom: 100%;
  margin-bottom: 3px;
  padding: 6px;
  border-radius: 5px;
  font-size: .8rem;
  color: var(--interactive-hover);
  background-color: var(--background-floating);
  pointer-events: none;
  user-select: none;
  animation: opacity-up 150ms forwards;
}

.info-button[data-tooltip]:hover::after {
  bottom: 0%;
  margin-bottom: 0;
  left: 100%;
  margin-left: 6px;
}

@keyframes opacity-up {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

/* Discord Classes Overwriting */

.emoji {
  object-fit: contain;
  width: 1rem;
  height: 1rem;
  vertical-align: bottom;
}