@import url(./fonts/ggsans.css);
@import url("./discord.css");

body {
  font-family: "gg sans", 'Segoe UI', sans-serif;
  -webkit-font-smoothing: antialiased;

  font-size: 16px;
  line-height: 1;
  overflow: overlay;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  background: none;
  outline: none;
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
  font-size: 100%;
}

*:not(input[type=text]) {
  user-select: none;
}

::-webkit-scrollbar{
  width: 4px;
  height: 4px;
  background-color: transparent;
}

::-webkit-scrollbar-track{
  background-color: transparent;
}

::-webkit-scrollbar-thumb{
  background-color: var(--primary-400);
  border-radius: 4px;
}